<div class="social-icons" aria-label="Social links">
  <a class="icon" href="https://www.linkedin.com/in/c%C3%A9sar-feniou-705768173/" target="_blank" rel="noopener" aria-label="LinkedIn">
    <i class="fa-brands fa-linkedin"></i>
  </a>

  <a class="icon" href="https://scholar.google.com/citations?user=atHK9rYAAAAJ&hl" target="_blank" rel="noopener" aria-label="Google Scholar">
    <i class="fa-solid fa-graduation-cap"></i>
  </a>

  <a class="icon" href="https://www.researchgate.net/profile/Cesar-Feniou" target="_blank" rel="noopener" aria-label="ResearchGate">
    <i class="fa-brands fa-researchgate"></i>
  </a>
</div>
